.title{
    color: black;
    padding-top: 100px;
    padding-inline-start: 10px;
    padding-right: 5px;
    font-family: "Monaco", monospace, serif;
    display: inline;
    font-size: 40px;
}

.container{
    overflow: hidden; /* height not set*/
    display: flex;
    flex-direction: column;/* каждый элемент идет друг за другом*/
    min-height: 100vh; /*100%*/
}

header{
    background-color: #52a3ff;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

footer{
    background-color: #52a3ff;
    padding-top: 5px;
    padding-bottom: 1px;
    text-align: center;
}

.name{
    display: inline;
    font-size: 15px;
    padding-inline-start:370px;
}

html{
    background-color: #ffffff;
}

.col-md-4{
    height: 500px;
}

.name2{
    font-size: 20px;
}

footer{
    margin-top: auto;
}

.footer{
    font-size: 15px;
}

#one {
    display: inline;

}

#dan {
    display: inline;
    margin-right: 10px;
    
}

p {
    font-family: "Verdana", sans-serif, sans-serif;
    font-size: 25px;
}

.sec_three {
    margin-top: 10px;
}

h2 {
    background-color: #52a3ff;
}

.sec_four {
    margin-top: 10px;
}

.sec_five {
    margin-top: 10px;
}

.sec_six {
    margin-top: 10px;
    margin-bottom: 20px;
}

.video {
    margin-bottom: 20px;
}

input {
    border-radius: 20px/20px;
    border-width: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.regbtn {
    border-radius: 20px/20px;
    border: none;
}

.click {
    padding-bottom: 8px;
}

#hi {
    padding-left: 70px;
    font-size: 50px;
}

.call {
    padding-bottom: 8px;
}

#us {
    font-size: 50px;
    padding-left: 40px;
}

